<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkWinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkWinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <WorkWinder.Properties.Settings>
            <setting name="FlashOnStop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveActions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormWindowWidth" serializeAs="String">
                <value>375</value>
            </setting>
            <setting name="NameList" serializeAs="String">
                <value>Cust1,Cust2,Cust3,Internal,DLG1234,QAN5678</value>
            </setting>
            <setting name="SaveFolderOverride" serializeAs="String">
                <value />
            </setting>
            <setting name="ManicTimeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManicTimePath" serializeAs="String">
                <value />
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </WorkWinder.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WorkWinder.Properties.Settings>
            <setting name="HelpLinkWorkWinder" serializeAs="String">
                <value>https://www.google.com</value>
            </setting>
            <setting name="HelpLinkManicTimeDBPath" serializeAs="String">
                <value>http://support.manictime.com/knowledgebase/articles/686235-where-is-data-stored</value>
            </setting>
            <setting name="LinkFeedback" serializeAs="String">
                <value>mailto:slynickel.github@gmail.com?subject=WorkWinder Feedback</value>
            </setting>
        </WorkWinder.Properties.Settings>
    </applicationSettings>
</configuration>